.admin-sidebar_container {
    position: fixed;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    width: 240px;
    
   
  }
  
 
  
  .admin-sidebar_container ul {
    margin-top: 60px;
    list-style: none;
    padding: 0;
  }
  
  .admin-sidebar_container li {
    padding: 10px 0;
  }
  
  .admin-sidebar_container li:hover {
    background-color: #444;
  }