.categories-container{
    margin-top: 40px;
}

.categories{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

.categories .category{
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid #3ec032;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
}

.category.active{
    opacity: 1;
}

.category::before{
    position: absolute;
    content: "";
    width:100px ;
    height: 100px;
    background:rgba(168, 232, 139, 0.402) ;
    border-radius:50% ;
}

.category img{
max-width: 50px;
height: 50px;
z-index: 99;


}

.category span{
margin-top: 2px;
font-weight: 600;
}
