.add_new-product {
    width: 80%;
    height: 100%;

    position: absolute;
    z-index: 999;
    background: #fff;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.add_new-product h1 {
    margin-bottom: 40px;
}

.new_product-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    gap: 20px;

}
.new_product-form label {
    display: flex;
    flex-direction: column;
}

.new_product-form input, select{
    height: 50px;
}

.new_product-form button {
    padding: 10px;
}