.admin-container{
    height: 100vh;
    display: flex;

}

.admin-container .left{
    max-width: 240px;
    height: 100%;
}



.admin-container .right {
    padding: 30px;
background-color: #fff;
height: 100%;
width: 100%;

}