*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

body{
  background: #f5f5f5;
}


.main {
display: flex;
height: 100vh;

}



.mainmain {
  width: 100%;
  margin-right: 6px;
  overflow: scroll;
  position: relative;
  overflow-x: hidden;
  
}



.mainmain::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.mainmain::-webkit-scrollbar-thumb {
  background-color: #cfcfcf; /* Color of the thumb */
  border-radius: 6px; /* Roundness of the thumb */
}

.mainmain::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

